/* color palette from <https://github.com/vuejs/theme> */

:root {
  --primary-white: #ffffff;
  --primary-white-soft: #f8f8f8;
  --primary-white-mute: #f2f2f2;

  --secondary-black: #000;
  --secondary-black-soft: #222222;
  --secondary-black-mute: #282828;
  
  --tertiary-pink: #e91e63;
  --tertiary-pink-accent-1: #ff80ab;
  --tertiary-pink-accent-2: #ff4081;

  --alternative-indigo-darken-4: #1a237e;
  --alternative-indigo-darken-3: #283593;

  --step--2: clamp(0.69rem, calc(0.66rem + 0.15vw), 0.78rem);
  --step--1: clamp(0.83rem, calc(0.80rem + 0.18vw), 0.94rem);
  --step-0: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
  --step-1: clamp(1.20rem, calc(1.15rem + 0.26vw), 1.35rem);
  --step-2: clamp(1.44rem, calc(1.38rem + 0.31vw), 1.62rem);
  --step-3: clamp(1.73rem, calc(1.65rem + 0.38vw), 1.94rem);
  --step-4: clamp(2.07rem, calc(1.98rem + 0.45vw), 2.33rem);
  --step-5: clamp(2.49rem, calc(2.38rem + 0.54vw), 2.80rem);
  --step-6: clamp(2.99rem, calc(2.86rem + 0.65vw), 3.36rem);

}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--primary-white);
  background: var(--secondary-black-soft);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  letter-spacing: 1.5;
  font-family: Magistral, sans-serif;
  font-size: var(--step-0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
