@import './base.css';
@import './fonts/Magistral/stylesheet.css';


#app {
  /* max-width: 1420px; */
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
  /* transition: 0.4s; */
}


.no-scroll {
  overflow: hidden;
}



